body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 90%;
    padding: 0.5em 1em;
    border: 1px solid black;
    background-color: gainsboro;
    box-shadow: 0px 0px 14px 0px black;
    border-radius: 5px;
    margin-top: 0.5em;
}

.nav {
    padding: 10px 20px;
    margin: 0;
    gap: 10px;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-img {
    margin-left: auto;
    padding: 0;
    border-radius: 0;
}

.nav-img img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav li a {
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.nav li a:hover {
    background-color: white;
}

.nav li.nav-img a:hover,
.nav-img a:hover {
    background-color: transparent;
}

#login .forms {
    margin-top: 5em;
    background-color: gainsboro;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 20em;
    text-align: center;
}
#login .forms label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

#login input {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#login .wrap button {
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 2em;
    border: none;
    color: white;
    cursor: pointer;
    background-color: blue;
    width: 20%;
    font-size: 15px;
    text-decoration: none;
}

#addpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#addpost .form {
    margin-top: 5em;
    background-color: gainsboro;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addpost .form > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    gap: 0.5em;
    margin-bottom: 1em;
}
#addpost .form #postbody {
    width: 24em;
    min-width: 24em;
    max-width: 24em;
    height: 10em;
    min-height: 10em;
}
#addpost #createpost,
#choosefile {
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    cursor: pointer;
    background-color: blue;
    font-size: 1em;
    width: 8em;
    height: 2em;
    display: flex;
    text-decoration: none;
}
#addpost #choosefile {
    background-color: gray;
}
#addpost #createpost {
    background-color: blue;
}

#index .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  width: 100%;
}

#index .post {
  background-color: gainsboro;
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  width: 60%;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#index .post:hover {
  background-color: #d6d4d4db;
  transition: 0.2s;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author {
  color: blue;
  font-weight: bold;
}

.post-img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

@media (max-width: 800px) {
  #index .post { width: 90%; }
}
