body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(235, 234, 245, 1);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background-color: rgba(246, 244, 251, 1);
}

.nav {
    padding: 1rem 8rem;
    margin: 0;
    gap: 10px;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-img {
    margin-left: auto;
    padding: 0;
    border-radius: 50%;
}
.nav-img img {
    border-radius: 50%;
}
.dropdown-wrap {
    position: absolute;
    top: 7%;
    right: 5%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    z-index: 10;
}
.dropdown-wrap.open-menu {
    max-height: 400px;
}

.dropdown {
    background-color: #ffffff;
    padding: 1rem;
    align-items: center;
    border-radius: 8px;
}

.dropdown h4 {
    font-weight: normal;
}

.dropdown hr {
    margin: 0.5rem 0;
    border: none;
    border-top: 1px solid #e5e7eb;
}

.dropdown #logout {
    color: red;
    cursor: pointer;
}

.nav-img img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav li a {
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.nav li a:hover {
    background-color: #ffffff;
}

.nav li.nav-img a:hover,
.nav-img a:hover {
    background-color: transparent;
}

#login .forms {
    margin-top: 5em;
    background-color: gainsboro;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 20em;
    text-align: center;
}
#login .forms label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

#login input {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#login .wrap button {
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 2em;
    border: none;
    color: white;
    cursor: pointer;
    background-color: blue;
    width: 20%;
    font-size: 15px;
    text-decoration: none;
}

#addpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#addpost .form {
    margin-top: 5em;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addpost .form > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    gap: 0.5em;
    margin-bottom: 1em;
}
#addpost .form #postbody {
    width: 24em;
    min-width: 24em;
    max-width: 24em;
    height: 10em;
    min-height: 10em;
}
#addpost #createpost,
#choosefile {
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    width: 8em;
    height: 2em;
    display: flex;
    text-decoration: none;
}
#addpost #choosefile {
    background-color: #94a3b8;
}
#addpost #createpost {
    cursor: pointer;
    background-color: #6366f1;
}
#addpost #choosefile:hover {
    background-color: #7e8ba3; /* hover efekt */
}

#addpost #createpost:hover {
    background-color: #4f46e5; /* hover efekt */
}

#index .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    width: 100%;
}

#index .post {
    background-color: rgba(246, 244, 251, 1);
    border-radius: 1em;
    padding: 1em 2em;
    width: 60%;
    transition: 0.3s ease-in-out;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#index .post:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author {
    color: #6366f1;
    font-weight: bold;
}

.post-img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

@media (max-width: 800px) {
    #index .post {
        width: 90%;
    }
}

.post + .post {
    margin-top: 1em;
}

.post ~ .footer {
    margin-top: 2em;
}
